@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap");

/* Custom properties */
:root {
  --dark-color: rgb(7, 7, 7);
  --background-color: #fff;
  --secondary-background-color: #f2f2f2;
  --transparent-light-color: #a9a9a9;
  --transparent-dark-color: #9b9999;
  --font-family: "Poppins";
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--dark-color);
  background-color: var(--background-color);
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}

i {
  font-size: var(--font-size-md);
  color: var(--dark-color);
}

h1,
h2,
h3,
h4 {
  /* text-transform: capitalize; */
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Poppins";
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 450px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 0.925rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* Reusable classes */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.section {
  padding: 10rem 1.5rem;
}

/* Header */
.header {
  background-color: var(--secondary-background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.logo {
  padding-top: 1rem;
  font-size: var(--font-size-md);
  color: var(--dark-color);
}

.list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.shoppingBag-icon {
  padding-top: 0.5rem;
}

.cart-shoppingBag-icon {
  padding-top: 0;
}

.btn {
  cursor: pointer;
}

/* Header Javascript Styles */
.header.activated {
  box-shadow: 0 1px 0.5rem var(--transparent-light-color);
}

/* Menu */
.menu {
  padding: 12rem 0;
  width: 100%;
  display: flex;
  margin: auto;
  max-width: 120rem;
}

.section-center {
  width: 100%;
  margin: auto;
  max-width: 120rem;
  display: grid;
  gap: 2.5rem 1rem;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.menu-item {
  display: grid;
  justify-content: center;
  gap: 1rem 1.5rem;
}

.img-container {
  padding: 0px 9px;
  position: relative;
  min-width: 15rem;
}

.photo {
  min-width: 15rem;
  object-fit: scale-down;
  background-color: var(--secondary-background-color);
  height: 200px;
}

.item-info {
  display: flex;
  justify-content: left;
  padding: 0px 1rem;
  flex-direction: column;
}

.item-info-right {
  position: absolute;
  display: flex;
  font-size: 0.5rem;
  margin-left: 11.7rem;
  margin-top: 19.25rem;
  padding: 1.5rem;
}

.item-info-right i {
  font-size: 2rem;
}

.changeColor {
  color: red;
}

.item-description,
.colors {
  color: hsla(0, 0%, 0%, 0.6);
}

.price {
  padding-top: 0.5rem;
}

.img-container:hover .image-overlay {
  opacity: 1;
  display: block;
}

.image-overlay {
  position: absolute;
  width: 15rem;
  margin-left: 1rem;
  height: 200px;
  top: 0;
  left: -0.1rem;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--background-color);
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  display: none;
  transition: all 0.25s ease;
}

.image-overlay-blur {
  backdrop-filter: blur(0.2rem);
}

.overlay-btn {
  padding: 0.8rem 0.8rem;
  top: 7.7rem;
  position: relative;
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  font-weight: 500;
  background-color: var(--transparent-light-color);
  border: 2px solid var(--background-color);
  border-radius: 5rem;
  display: flex;
  margin: auto;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  transition: all 0.25s ease;
}

.overlay-btn:hover {
  background-color: #868686;
}

.overlay-btn .overlay-icon {
  color: var(--background-color);
  font-size: 1.7rem;
}

@media screen and (min-width: 450px) {
  .img-container img {
    min-width: 17rem;
  }

  .photo {
    min-width: 22rem;
  }

  .item-info-right {
    margin-left: 14rem;
  }

  .image-overlay {
    width: 17rem;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .section-center {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* .menu-item {
    min-width: 20rem;
  }

  .price {
    padding-top: 1rem;
  }

  .img-container img {
    min-width: 20rem;
  }

  .photo {
    min-width: 25rem;
  }

  .item-info-right {
    margin-left: 17rem;
  }

  .image-overlay {
    width: 20rem;
    margin-left: 1rem;
  } */
}

/* Scroll to the top btn */
.scrollToTop-btn i {
  color: var(--dark-color);
}
.scrollToTop-btn {
  display: none;
  position: fixed;
  height: 4.5rem;
  width: 4.5rem;
  bottom: 20px;
  right: 10px;
  z-index: 999;
  border: 2px solid var(--dark-color);
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 5rem;
}

.scrollToTop-btn:hover {
  opacity: 0.5;
}
