@tailwind base;
@tailwind components;
@tailwind utilities;

.main-div {
  @apply px-2 w-full max-w-[1140px] mx-auto;
}

.dark {
  --color-bg-primary: #161616;
  --color-bg-secondary: #1a1a1a;
  --color-bg-button: #fff;
  --color-text-primary: #fff;
  --color-text-button: #161616;
  --color-placeholder-primary: #fff;
  --color-border-primary: #fff;
}

.light {
  --color-bg-primary: #fff;
  --color-bg-secondary: #f2f2f2;
  --color-bg-button: #161616;
  --color-text-primary: #161616;
  --color-text-button: #fff;
  --color-placeholder-primary: #161616;
  --color-border-primary: #161616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-primary);
  transition-duration: 300ms;
}

/* Underline effect */

/* .min-nav-link::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
  transition: all 0.3s ease;
  display: none;
}

.min-nav-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 0%;
  left: 50%;
  height: 2px;
  background: black;
  transition: all 0.3s ease;
}

.min-nav-link:hover::after {
  left: 0;
  width: 100%;
} */
