@tailwind base;
@tailwind components;
@tailwind utilities;

.main-div {
  @apply px-2 w-full max-w-[1140px] mx-auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body {
  /* background-color: #fffff5; */
  background-color: #fcf2e6;
}

.image:hover .overlay {
  display: flex;
}
